@model MySugarTracker.ViewModels.DoctorUser



@{
    ViewBag.Title = "Doctor Profile Page";
}


<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h2> 



    <table>
    <tr>
        <th>
            Patient List
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.PatientList)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @*@Html.ActionLink("See Patient Record", (model => model.User))*@
                <a href="/Patients/Edit/@Html.DisplayFor(model => item.UserID)">See Patient Record</a>
            </td>
            
        </tr>
    }  
    </table>
    
