@{
    ViewBag.Title = "Home Page";
}

<div  class="jumbotron">
    <h1>Welcome to MySugarTracker</h1>
    <p class="lead">Use this application to directly enter your blood sugar test results, and monitor your values to help treat Diabetes, and send your results to your Doctor quickly and easily.</p>
    <p><a class="btn btn-default" href="/Account/Login">Please Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Daily Reminders</h2>
        <p>
            This application will remind you to take your blood sugar readings as recommended by your physician during the course of treatment for Diabetes. Then, just enter the values from your blood tests and the data is uploaded and sent to your physician! 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Your Personal Sugar History</h2>
        <p>As you enter your sugar data over time, use the history function of this application to closely monitor your results and graph the data. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Diabetes Feeds and News</h2>
        <p>You can receive and view information about healthy diets for Diabetes, exercise tips and options, and the latest news and support from the Diabetes community!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>